[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/pack/vendor/start/vim/pack/vendor/start"]
	path = vim/pack/vendor/start/vim/pack/vendor/start
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/vendor/start/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim/pack/vendor/start/syntastic"]
	path = vim/pack/vendor/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
