# Enable vi mode
fish_vi_key_bindings

# Useful bindings
abbr -a o 'xdg-open'
abbr -a g 'git'
abbr -a ga 'git add -p'
abbr -a gaa 'git add --all' 
abbr -a gst 'git status'
abbr -a ggl 'git pull origin master'
abbr -a ggp 'git push -u origin master'
abbr -a gcam 'git commit -m'
abbr -a gb 'git branch'

# Now defunct, keep just in case
# Anaconda init script, ~/anaconda3/bin/activate on linux
# /usr/local/anaconda3/bin/activate on mac
# abbr -a anaconda 'source /usr/local/anaconda3/bin/activate'

# Initializing caps lock binds #
# xmodmap ~/.Xmodmap
# xcape -e 'Control_L=Escape'
